body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  background: url(../img/music.avif);
  background-size: cover;
  
}

.thought {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: #C76B2A;
  padding:50px;
  border-radius:30px;
  min-width:100px;
  max-width:220px;
  min-height:20px;
  margin:20px;
}

.thought:before,
.thought:after {
  content:"";
  background-color: #C76B2A;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #C76B2A;
}

.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #C76B2A,
             -28px -6px 0 -2px #C76B2A,
             -24px 17px 0 -6px #C76B2A,
             -5px 25px 0 -10px #C76B2A;
  
}

#character {
  width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 33%;
}
  
#comic-text {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

#start-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #C76B2A;
  border-color: black;
  font-family: 'Fredoka', sans-serif;
  border-radius: 8px;
}

.hidden {
  display: none;
}

#logo {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  top: 5%;
  right: 4%;
}



