<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Dictionary</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/css_book.css') }}">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
</head>
<body>
<div class="thought" class="hidden" id="thought">
  <p id="comic-text" >This is the dictionary. Touch the book to flip the page.</p>
</div>
<img src="{{ url_for('static', filename='img/character.png') }}" alt="Character" id="character" class="hidden">
<div class="book" id="book">
  <div class="page cover-front" onclick="movePage(this, 1)">
    <img src="{{ url_for('static', filename='img/logo_arancione.png') }}" alt="Logo" id="logo">
    <h2>Alice Sironi</h2>
    <h2>Cecilia Raho</h2>
    <h2>Lelio Casale</h2>
  </div>
  <div class="page cover-front" onclick="movePage(this, 2)"></div>
  <div class="page text-page" onclick="movePage(this, 3)">
    <h3>INDEX</h3>
    <p>Art ...........................................................page 2</p> 
    <p>Baby ....................................................... page 4</p>
    <p>Cherry ..................................................... page 6</p>
    <p>Hello ........................................................ page 8</p>
    <p>I love you ............................................... page 10</p>
    <p>Mommy .................................................. page 12</p>
    <p>Music ..................................................... page 14</p>
    <p>Party ...................................................... page 16</p>
    <p>Sun ........................................................ page 18</p>
    <p>Thanks .................................................. page 20</p>

  </div>
  <div class="page text-page" onclick="movePage(this, 4)">
    <h3>ART</h3>
    <p>Art is signed by taking your non-dominant hand flat in front of you, with the palm facing your body as if it were a canvas.</p>
    <p>Take your pinkie finger from your dominant hand outstretched, and scribble with it on your non-dominant hand as if you were drawing.</p>
    <button id="try-button" onclick="event.stopPropagation();">TRY NOW</button>
  </div>
  <div class="page text-page" onclick="movePage(this, 5)">
    <img src="{{ url_for('static', filename='img/art.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page text-page" onclick="movePage(this, 6)">
    <h3>BABY</h3>
    <p>To do the sign for baby, cross your arms with hands facing up, one arm resting on the other while touching one elbow with the fingers from the opposite hand, as if you are cradling a baby in your arms.</p>
    <p>Then gently move your hands from side to side, as if rocking the imaginary baby in your arms.</p>
    <button id="try-button1" onclick="event.stopPropagation();">TRY NOW</button>
  </div>
  <div class="page text-page" onclick="movePage(this, 7)">
    <img src="{{ url_for('static', filename='img/baby.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page text-page" onclick="movePage(this, 8)">
    <h3>CHERRY</h3>
    <p>Cherry in sign language looks like your are outlining a cherry on a stem. Extended your pinkie from your non dominant hand, to make the stem of a cherry.</p>
    <p>Then take the fingers from your dominant hand and place them around the end of the non-dominant pinkie, twisting the fingers around.</p>
    <button id="try-button2" onclick="event.stopPropagation();">TRY NOW</button>
  </div>
  <div class="page text-page" onclick="movePage(this, 9)">
    <img src="{{ url_for('static', filename='img/cherry.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page text-page" onclick="movePage(this, 10)">
    <h3>HELLO</h3>
    <p>To greet someone with a hello, make the sign by extending your finger. Now take the hand, starting in front of your ear, and extend it outward and away from your body. </p>
    <p>Finally... Smile! Emotional signs like hello are learned as much from your body language as from the actual signs.</p>
    <button id="try-button3" onclick="event.stopPropagation();">TRY NOW</button>
  </div>
  <div class="page text-page" onclick="movePage(this, 11)">
    <img src="{{ url_for('static', filename='img/hello.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page text-page" onclick="movePage(this, 12)">
    <h3>I LOVE YOU</h3>
    <p>In BSL there are a few different ways to say "I love you". This is the "one-hand" sign.</p>
    <p>Point out your thumb and index finger to form an "L". While keeping them extended, lift your little finger. Your middle and ring finger keep touching your palm.</p> 
    <p>Finally, direct your hand towards the person you are talking to.</p>
    <button id="try-button4" onclick="event.stopPropagation();">TRY NOW</button>
  </div>
  <div class="page text-page" onclick="movePage(this, 13)">
    <img src="{{ url_for('static', filename='img/i_love_you.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page text-page" onclick="movePage(this, 14)">
    <h3>MOMMY</h3>
    <p>To sign mommy, extend and spread your fingers apart on your dominant hand. With your pinkie facing forward, tap your thumb on your chin. The hand sign for mommy is the same as the hand sign for daddy, but signed lower on the face.</p>
    <p>Traditionally, it is said that male signs are above the nose or around the forehead, because you can imagine a man tipping his hat to greet a woman. On the other hand, the female sign is below the nose, or around the chin area, because that's where women used to tie their bonnets securely around their head.</p>
    <button id="try-button5" onclick="event.stopPropagation();">TRY NOW</button>
  </div>
  <div class="page text-page" onclick="movePage(this, 15)">
    <img src="{{ url_for('static', filename='img/mommy.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page text-page" onclick="movePage(this, 16)">
    <h3>MUSIC</h3>
    <p>The music sign is made by taking your non-dominant forearm and holding it across your body. Then, take your dominant hand and wave it back and forth above your other forearm, as if conducting an orchestra.</p>
    <button id="try-button6" onclick="event.stopPropagation();">TRY NOW</button>
  </div>
  <div class="page text-page" onclick="movePage(this, 17)">
    <img src="{{ url_for('static', filename='img/music.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page text-page" onclick="movePage(this, 18)">
    <h3>PARTY</h3>
    <p>The sign for party looks like people dancing at a party. With each hand, you make a fist, then extend your pinkie fingers and thumbs. Dance your two hands in front of your body.</p>
    <button id="try-button7" onclick="event.stopPropagation();">TRY NOW</button>
  </div>
  <div class="page text-page" onclick="movePage(this, 19)">
    <img src="{{ url_for('static', filename='img/party.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page text-page" onclick="movePage(this, 20)">
    <h3>SUN</h3>
    <p>The sun sign is made by starting with your fingers and thumb together, angled downward, and then spread them apart, like you are shining a lamp down on yourself.</p>
    <button id="try-button8" onclick="event.stopPropagation();">TRY NOW</button>
  </div>
  <div class="page text-page" onclick="movePage(this, 21)">
    <img src="{{ url_for('static', filename='img/sun.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page text-page" onclick="movePage(this, 22)">
    <h3>THANKS</h3>
    <p>To sign thank you, extend your fingers and thumb. Touch you fingers to your chin and bring your fingers forward.</p>
    <p>It is almost like you are blowing a kiss out, but the sign is a bit lower.</p>
    <button id="try-button9" onclick="event.stopPropagation();">TRY NOW</button>
  </div>


  <div class="page text-page">
    <img src="{{ url_for('static', filename='img/thanks.png') }}" alt="sign" id="sign">
    <img src="{{ url_for('static', filename='img/logo_blu.png') }}" alt="logo_pag" id="logo_pag">
  </div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  
</div>

<script>
  document.getElementById('try-button').addEventListener('click', function() {
    const myString = 'art';

    // Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

<script>
  document.getElementById('try-button1').addEventListener('click', function() {
    const myString = 'baby';

    /// Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

<script>
  document.getElementById('try-button2').addEventListener('click', function() {
    const myString = 'cherry';

    // Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

<script>
  document.getElementById('try-button3').addEventListener('click', function() {
    const myString = 'hello';

    // Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

<script>
  document.getElementById('try-button4').addEventListener('click', function() {
    const myString = 'iloveyou';

    // Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

<script>
  document.getElementById('try-button5').addEventListener('click', function() {
    const myString = 'mommy';

    // Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

<script>
  document.getElementById('try-button6').addEventListener('click', function() {
    const myString = 'music';

    // Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

<script>
  document.getElementById('try-button7').addEventListener('click', function() {
    const myString = 'party';

    // Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

<script>
  document.getElementById('try-button8').addEventListener('click', function() {
    const myString = 'sun';

    // Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

<script>
  document.getElementById('try-button9').addEventListener('click', function() {
    const myString = 'thanks';

    // Convert string in JSON
    const data = JSON.stringify({ myString: myString });

    // Send an AJAX request to the Flask route
    fetch('/analysis', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: data
    })
    .then(response => {
      // Handle the response from the server
      console.log('Analysis completed');
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
</script>

  <script  src="{{ url_for('static', filename='js/sketch_book.js') }}"></script>

</body>
</html>