<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signs in Music</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/css_main.css') }}">
</head>
<body>
  <div class="thought">
    <p id="comic-text" >Hi there! I'm Professor Ludwig Von Drake.</p>
    <a href="/book"><button id="start-button" class="hidden">START</button></a>
  </div>
  <img src="{{ url_for('static', filename='img/character.png') }}" alt="Character" id="character">
  <img src="{{ url_for('static', filename='img/logo_arancione.png') }}" alt="logo" id="logo">
  

  <script src="{{ url_for('static', filename='js/sketch_main.js') }}"></script>
</body>
</html>